<!DOCTYPE HTML PUBLIC "-//W3C//Dli HTML 4.01//EN">
<html lang="en">
<head>
	<link href = ""rel="stylesheet" type="text/css" href="./public/css/bootstrap.css">
<link href = ""rel="stylesheet" type="text/css" href="./public/css/styles.css">
<title>Home</title>
</head>
<body>

<div class = "bod">

	<a href="/new" class="btn btn-primary pull-right">Add Task </a>

	<ul class ="list-unstyled"> <% @tasks.each do |task| %>
		
		
			
			<li><b>Task:</b><%= task[:title] %></li>
			<li><b>Details:</b><%= task[:description] %></li>
			<li><b>Venue:</b><%= task[:venue] %></li>
			<li><b>Duration:</b><%= task[:duration] %></li>
			<li><b>Date Created:</b><%= task[:datecreated] %></li>
			<li > <a href="" class = "btn btn-info">Edit Task </a> <a href="/delete" class = "pull-left btn btn-danger">Delete Task </a> </li>
		
		<% end %>
	</ul>
	

	
</div>



</body>
</html>